# golang idea files
.idea
.vscode

# libries and build artifacts
build
build/
bin
bin/

# test results
coverage.out
coverage.html
cpu.out
mem.out

# git diff files
*.diff
docker-compose-dev.yaml

tmp
