[Unit]
Description=
After=network.target

[Service]
StartLimitInterval=0
Restart=always
RestartSec=3
ExecStart=/usr/bin/lyre-be run --config /opt/lyre-be/config.yaml

[Install]
WantedBy=multi-user.target
